<%include partials/header%>
    <main>
        <!-- Catelog -->
        <div class="catelog">
            <section class="section-tours" id="section-tours">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        PRODUCTS
                    </h2>    
                </div>
                
                <%product.forEach(function(chunk){%>
                    <div class="row">
                        <%chunk.forEach(function(product){%>
                            <div class="col-1-of-3">
                            <div class="card">
                                <div class="card__side">
                                    <div class="card__picture" style="background-image: url('<%=product.image%>')">
                                    </div>
                                    <div class="card__heading">
                                        <span class="card__heading-span"><%=product.name%></span>
                                    </div>
                                    <div class="card__details">
                                        <ul>
                                            <li class="card__details--l1"><%=product.decl1%></li>
                                            <li class="card__details--l2"><%=product.decl2%></li>
                                            <li class="card__details--l3"><%=product.decl3%></li>
                                            <li class="card__details--price">Price: Rs.<%=product.price%></li>
                                        </ul>
                                        <a href="/add-to-cart/<%=product._id%>"><button class="btn">Add to cart</button></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                        <%})%>
                    </div>
                <%})%>
                
            </section>
        </div>
    </main>

<%include partials/footer%>